<div class="container py-1 jumbotron" style="background-color: white">
  <span style="margin-right: 40%">
    <%= image_tag 'ecomcharge.png', size: '130x100' %>
    <%= image_tag 'apple_pay.png', size: '200x100' %>
  </span>
  <span style="font-size: 2rem; font-weight: 700"><%= t('apple_pay_test') %></span>
</div>
<section class="content text-center">
  <div class="container" style="padding: inherit">
    <div id="locale" style="display: none" value="<%= I18n.locale %>"></div>
    <div id="return_uid" style="display: none" value="<%= @result[:uid] %>"></div>
    <div class="messages" style="display: none"></div>
    <% if @result[:uid].present? && @result[:status].present? %>
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-body">
              UID: <%= @result[:uid] %><br>
              STATUS: <%= @result[:status] %>
            </div>
          </div>
        </div>
      </div>
      <br>
    <% end %>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <form id="authorization">
              <h4><%= t('authorization') %></h4>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-secondary dropdown-toggle"
                          type="button" data-toggle="dropdown" id="currency" value="BYN">BYN</button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item">BYN</a>
                    <a class="dropdown-item">USD</a>
                    <a class="dropdown-item">EUR</a>
                  </div>
                </div>
                <input type="text" class="form-control" placeholder="<%= t('amount') %>" id="amount">
              </div>
              <button type="button" class="btn btn-dark" onclick="openWidget('authorization')"><%= t('authorization_button') %></button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <form id="capture">
              <h4><%= t('capture') %></h4>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="<%= t('authorization_uid') %>" id="parent_uid">
                <input type="text" class="form-control" placeholder="<%= t('amount') %>" id="amount">
              </div>
              <button type="button" class="btn btn-secondary" onclick="sendChildTxn('capture')"><%= t('capture_button') %></button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <form id="void">
              <h4><%= t('void') %></h4>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="<%= t('authorization_uid') %>" id="parent_uid">
                <input type="text" class="form-control" placeholder="<%= t('amount') %>" id="amount">
              </div>
              <button type="button" class="btn btn-secondary" onclick="sendChildTxn('void')"><%= t('void_button') %></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <div class="card" style="height: 100%">
          <div class="card-body">
            <form id="payment">
              <h4><%= t('payment') %></h4>
              <div id="apple-pay-button">
                <!-- <div id="apple-pay" onclick="runApplePay()" class="apple-pay-button-with-text apple-pay-button-white-with-text">
                  <span class="text">Buy with</span>
                  <span class="logo"></span>
                </div> -->
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-secondary dropdown-toggle"
                          type="button" data-toggle="dropdown" id="currency" value="BYN">BYN</button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item">BYN</a>
                    <a class="dropdown-item">USD</a>
                    <a class="dropdown-item">EUR</a>
                  </div>
                </div>
                <input type="text" class="form-control" placeholder="<%= t('amount') %>" id="amount">
              </div>
              <button type="button" class="btn btn-dark" onclick="openWidget('payment')"><%= t('payment_button') %></button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <form id="refund">
              <h4><%= t('refund') %></h4>
              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="<%= t('payment_uid') %>" id="parent_uid">
                <input type="text" class="form-control" placeholder="<%= t('amount') %>" id="amount">
              </div>
              <button type="button" class="btn btn-secondary" onclick="sendChildTxn('refund')"><%= t('refund_button') %></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <form id="recurring">
              <h4><%= t('recurring_payment') %></h4>
              <input type="text" class="form-control" placeholder="<%= t('credit_card_token') %>" id="token" value>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-secondary dropdown-toggle"
                          type="button" data-toggle="dropdown" id="currency" value="BYN">BYN</button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item">BYN</a>
                    <a class="dropdown-item">USD</a>
                    <a class="dropdown-item">EUR</a>
                  </div>
                </div>
                <input type="text" class="form-control" placeholder="<%= t('amount') %>" id="amount">
              </div>
              <button type="button" class="btn btn-dark" onclick="sendRecurring()"><%= t('payment_button') %></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <form id="close_day">
              <h4><%= t('settlement') %></h4>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-secondary dropdown-toggle"
                          type="button" data-toggle="dropdown" id="currency" value="BYN">BYN</button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item">BYN</a>
                    <a class="dropdown-item">USD</a>
                    <a class="dropdown-item">EUR</a>
                  </div>
                </div>
                <input type="text" class="form-control" placeholder="<%= t('gateway_id') %>" id="gateway_id">
              </div>
              <button type="button" class="btn btn-outline-dark" onclick="sendCloseDay()"><%= t('settlement_button') %></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script type="text/javascript" src="https://js-staging.begateway.com/widget/be_gateway.js"></script>
<script type="text/javascript" src="https://js-staging.begateway.com/widget/apple_pay.js"></script>
<script>
  window.onload = () => {
    const params = { checkout_url: 'https://checkout.bepaid.by', checkout: { apple_pay_container_id: 'apple-pay-button' } };
    const { checkout_url, checkout: { apple_pay_container_id } } = params;
    this.pay = new ApplePay({
      apple_pay_container_id,
      checkout_url,
      token: '',
      public_key: 'MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0fYvERfQV3iUSkIpWpJqDO9thU5nXpMmBZHCdzLU8hOTmCXvsSLYxyzcUzZUeMfjwq1FFMCKOPed61nLPyqwkQvij+FwqVkl7GoxnLaPGFKpe6iHvJAxEDBAk2OFd9+L+BeW8+mi0yg5INwhSODE8/dM6217OOLcRbQ879tFN7bZTj95LFUhicSxLaQp0Jnb5Hg+FAz6OjuDLhvestz6QoSbXEFLc2XSEce/Gk33YI+3mFegklQy6xDCD8SqXPwrwINjr5z7PaeTXyT0cKkQD+wbQP1ddwuy1lgMuacMnSFNnubiI/6UF8wSyY9EInIWjjBLSQDwDHoNwQ+8G1lHCQIDAQAB'
    }).pay;
  }

  window.onload = () => {
    $.ajax({
      url: '/credit_card_token',
      type: 'post',
      data: { uid: $('#return_uid').attr('value') },
      datatype: 'script',
      success: function(data) {
        $('#recurring #token')[0].value = data['credit_card_token'];
      }
    })
  }

  this.openWidget = function(txn_type) {
    $.ajax({
      url: "/" + txn_type,
      type: "post",
      data: {
        amount: $("#" + txn_type + " #amount")[0].value,
        currency: $("#" + txn_type + " #currency")[0].value,
        txn_type: txn_type,
        locale: $('#locale').attr('value')
      },
      datatype: 'script',
      beforeSend: function(data) {
        showMessage('warning', 'Sending request...')
      }
    })
  };

  let timerId;

  showMessage = function(alert, message) {
    clearTimeout(timerId);
    if ($('.messages').is(':visible')) { $('.messages').slideUp('fast') };
    var messages = $('.messages')
    var successHtml = '<div class="alert alert-' + alert + '" role="alert">' + message + '</div>';
    $(messages).html(successHtml);
    $('.messages').slideDown('fast');
    timerId = setTimeout(function(){ $('.messages').slideUp('fast'); }, 10000);
  }

  this.sendChildTxn = function(txn_type) {
    $.ajax({
      url: "/" + txn_type,
      type: "post",
      data: {
        amount: $("#" + txn_type + " #amount")[0].value,
        parent_uid: $("#" + txn_type + " #parent_uid")[0].value
      },
      datatype: 'script',
      beforeSend: function(data) {
        showMessage('warning', 'Sending request...')
      },
      success: function(data) {
        if (data.status == 200) {
          showMessage('success', data.message);
        } else {
          showMessage('danger', data.message);
        }
      }
    })
  };

  this.sendRecurring = function() {
    $.ajax({
      url: "/recurring",
      type: "post",
      data: {
        amount: $("#recurring #amount")[0].value,
        currency: $("#recurring #currency")[0].value,
        token: $("#recurring #token")[0].value
      },
      datatype: 'script',
      beforeSend: function(data) {
        showMessage('warning', 'Sending request...');
        $(window).scrollTop(0);
      },
      success: function(data) {
        if (data.status == 200) {
          showMessage('success', data.message);
        } else {
          showMessage('danger', data.message);
        }
      }
    })
  };

  this.sendCloseDay = function() {
    $.ajax({
      url: "/close_day",
      type: "post",
      data: {
        gateway_id: $("#close_day #gateway_id")[0].value,
        currency: $("#close_day #currency")[0].value
      },
      datatype: 'script',
      beforeSend: function(data) {
        showMessage('warning', 'Sending request...')
        $(window).scrollTop(0);
      },
      success: function(data) {
        if (data.status == 200) {
          showMessage('success', data.message);
        } else {
          showMessage('danger', data.message);
        }
      }
    })
  };
</script>
